@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .box {
    @apply p-4 bg-gray-950 dark:text-white shadow-md dark:shadow-sm shadow-slate-400 dark:shadow-slate-800;
  }

  /* A light box in a light mode, changes to dark in dark mode */
  .box-light {
    @apply p-4 bg-white text-black dark:bg-gray-800 dark:text-stone-100;
  }

  .heading {
    @apply text-gray-900 font-medium dark:text-gray-50;
  }

  .side-section {
    @apply absolute h-screen top-0 w-[16.5rem] rounded shadow-md;
  }

  .side-section .heading {
    @apply dark:border-gray-600 border-b text-lg text-center uppercase pb-3 mb-4;
  }

  .content-block {
    @apply space-y-3;
  }

  .bg-board {
    @apply bg-slate-50 dark:bg-gray-900;
  }

  .input-box {
    @apply w-full h-9 p-2 bg-slate-200 hover:bg-gray-100 focus:bg-gray-200 dark:bg-gray-700 dark:focus:bg-slate-600 dark:hover:bg-slate-600 dark:text-gray-200 shadow border-none outline-none sm:text-sm rounded;
  }

  .inline-input {
    @apply flex justify-between items-center min-h-[1.9rem];
  }

  .label {
    @apply block font-medium text-sm text-stone-700 dark:text-gray-300 mb-0 px-0 py-1;
  }

  .header-sm {
    @apply font-medium text-[1.025rem] text-stone-700 dark:text-gray-300 mb-0 px-0 py-1;
  }

  .description {
    @apply text-sm font-medium text-gray-500 dark:text-gray-400;
  }

  .icon {
    @apply w-5 text-black dark:text-white p-0 m-0;
  }

  .btn {
    @apply rounded-md min-h-[2.2rem] h-[2.2rem] min-w-[4.5rem] font-medium bg-slate-800 text-white dark:bg-slate-900 dark:hover:bg-gray-950;
  }

  .checkbox {
    @apply checkbox-xs bg-slate-300 rounded;
  }

  .center-between {
    @apply flex items-center justify-between;
  }

  .disabled-lg {
    @apply disabled;
    opacity: 0.25 !important;
  }

  .disabled-sm {
    @apply disabled;
    opacity: 0.9 !important;
  }
}

* {
  box-sizing: border-box;
}

:root {
  font-size: clamp(14px, 1.5vw, 16px);
}

/* Scrollbar customization */
::-webkit-scrollbar {
  padding: 0;
  width: 9px;
}

::-webkit-scrollbar-track {
  margin-block: 9px;
}

::-webkit-scrollbar-thumb {
  background-color: #6c6f8373;
  border-radius: inherit;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #8a8c9b73;
  border-radius: inherit;
}

@supports (scrollbar-width: thin) {
  body {
    scrollbar-width: thin;
  }
}

html > body {
  font-family: "Roboto", sans-serif;
  overflow: hidden;
}

::placeholder {
  color: #ccccd3;
}
